{% load static %}
<!DOCTYPE html>
<html class="style-orange-1  custom_fonts comps live_website">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <script src="{% static 'js/home.js' %}" defer></script>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
        <script>
            function SubForm (){
                $.ajax({
                    url:'https://api.apispreadsheets.com/data/12737/',
                    type:'post',
                    data:$("#landing-form").serializeArray(),
                    success: function(){
                      window.location = 'thank_you'
                    },
                    error: function(){
                      alert("Ha habido un error, por favor vuelve a intentarlo.")
                    }
                });
            }
        </script>
        <title>HypeHunter</title>    
    </head>
    <body class="font-lato comps" id="114878-243817">
        <nav class="js-nav nav-02 ">
            <div class="container container--large">
                <div class="nav-02__box">
                    <div class="nav-02__logo"><a class="nav-02__link" href="/" target="_self">
                        <img loading="lazy" class="nav-02__logo_img" src="https://ucarecdn.com/d3ca1957-387b-4fc0-91dd-c93fd5d1cb8f/" height="60"
                            alt="Logo transparent background"/>
                        </a>
                    </div>
                    <div class="nav-02__links js-menu">
                        <div class="nav-02__list_wrapper  ">
                            <ul class="nav-02__list nav-02__list--desktop">
                                <li class="nav-02__item">
                                    <div class="buttons-set">
                                        <ul class="buttons-set__list"></ul>
                                    </div>
                                </li>
                            </ul>
                            <ul class="nav-02__list nav-02__list--mobile">
                                <li class="nav-02__item">
                                    <div class="buttons-set">
                                        <ul class="buttons-set__list"></ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="page-component__bg_image_box bg-white-color  first_component" id="header-61-689691" >
            <div class="page-component__bg_overlay_box ">
            </div>
            <div style="position: relative;z-index: 12;">
                <header class="header-61 desktop-mockup-inside--apple_macbook_air">
                    <div class="container container--large header-61__container">
                        <div class="header-61__left">
                            <div class="header-61__left_content">
                                <div class="header-61__left_content_box">
                                    <h1 class="heading heading--accent header-61__heading" >Encuentra los mejores jugadores mediante datos</h1>
                                    <div class="header-61__text content_box ">
                                        <p>Utiliza nuestras recomendaciones orientadas a tu modelo de juego para anticiparte en descubrir talento</p>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-61__right">
                        <div class="header-61__right_wrapper">
                            <div class="header-61__mockup">
                                <div class="mockup_v2 mockup_v2--apple_macbook_air">
                                    <div class="mockup_v2__img_box">
                                        <div class="mockup_v2__screenshot mockup_v2__area">
                                            <img class="mockup_v2__screenshot_img" src="https://ucarecdn.com/517bec48-2b72-4f52-bb64-5a4231b2622c/captura-de-pantalla-2021-05-17-a-las-20.03.12.png" alt="Captura de pantalla 2021 05 17 a las 20.03.12">
                                        </div>
                                        <img class="mockup_v2__device_img js-tab-content-item" alt="Device frame" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/mockups_v2/desktops/apple_macbook_air_space_grey.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <div class="page-component__bg_image_box bg-white-color" id="pricing-04-770471" >
            <div class="page-component__bg_overlay_box ">
            </div>
            <div style="position: relative;z-index: 11;">
                <div class="pricing-04">
                    <div class="container container--small">
                        <div class="title-box title-box--center">
                            <h2 class="heading " >Tarifas y funcionalidades</h2>
                            <div class="title-box__text content_box "></div>
                        </div>
                    </div>
                    <div class="container">
                    </div>
                    <div class="container container--max">
                        <div class="pricing-04__cards_container">
                            <ul class="pricing-04__cards_list">
                                <li class="pricing-04__card_box">
                                    <div class="pricing-04__card  pricing-04__card--accent">
                                        <h3 class="pricing-04__card_title">LILA</h3>
                                        <div class="pricing-04__price_box">
                                            <div class="pricing-04__price_item js-tab-content  state-active-tab " data-index="monthly-price-1" data-group="my-pricing-pricing-04-770471">
                                                <div class="pricing-04__price_symbol  ">€</div>
                                                <div class="pricing-04__price"><span class="pricing-04__price_text  smaller-text-09 ">300</span>
                                                </div>
                                                <div class="pricing-04__period">/mes</div>
                                            </div>                                            
                                        </div>
                                        <div class="pricing-04__card_text">por usuario</div>
                                        <div class="pricing-04__card_button">
                                            <a
                                                data-stripe-product-id="" data-stripe-mode="payment" data-successful-payment-url="" data-cancel-payment-url=""
                                                class="button button--alt-accent-bg" href="lila" target="_self"><span class="button__text">Comprar</span></a>
                                        </div>
                                    </div>
                                    <ul class="pricing-04__items">
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling">Categorización de modelos de juego</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Funnel de Scouting</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Calendario de jugadoras</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Búsqueda manual de jugadoras</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Recomendación de jugadoras</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Compatibilidad de jugadoras</div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="pricing-04__card_box">
                                    <div class="pricing-04__card ">
                                        <h3 class="pricing-04__card_title">BRONCE</h3>
                                        <div class="pricing-04__price_box">
                                            <div class="pricing-04__price_item js-tab-content  state-active-tab " data-index="monthly-price-1" data-group="my-pricing-pricing-04-770471">
                                                <div class="pricing-04__price_symbol  ">€</div>
                                                <div class="pricing-04__price"><span class="pricing-04__price_text  smaller-text-09 ">300</span>
                                                </div>
                                                <div class="pricing-04__period">/mes</div>
                                            </div>
                                        </div>
                                        <div class="pricing-04__card_text">por usuario</div>
                                        <div class="pricing-04__card_button">
                                            <a
                                                data-stripe-product-id="" data-stripe-mode="payment" data-successful-payment-url="" data-cancel-payment-url=""
                                                class="button button--accent-outline" href="bronce" target="_self"><span class="button__text">Comprar</span></a>
                                        </div>
                                    </div>
                                    <ul class="pricing-04__items">
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Ligas de 3r Nivel</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Categorización de modelos de juego</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Búsqueda manual de jugadores</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Recomendación de jugadores</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Compatibilidad de jugadores</div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="pricing-04__card_box">
                                    <div class="pricing-04__card ">
                                        <h3 class="pricing-04__card_title">PLATA</h3>
                                        <div class="pricing-04__price_box">
                                            <div class="pricing-04__price_item js-tab-content  state-active-tab " data-index="monthly-price-1" data-group="my-pricing-pricing-04-770471">
                                                <div class="pricing-04__price_symbol  ">€</div>
                                                <div class="pricing-04__price"><span class="pricing-04__price_text  smaller-text-09 ">500</span>
                                                </div>
                                                <div class="pricing-04__period">/mes</div>
                                            </div>                                            
                                        </div>
                                        <div class="pricing-04__card_text">por usuario</div>
                                        <div class="pricing-04__card_button">
                                            <a
                                                data-stripe-product-id="" data-stripe-mode="payment" data-successful-payment-url="" data-cancel-payment-url=""
                                                class="button button--accent-outline" href="plata" target="_self"><span class="button__text">Comprar</span></a>
                                        </div>
                                    </div>
                                    <ul class="pricing-04__items">
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Ligas de 2o y 3r Nivel</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Búsqueda manual de entrenadores</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Categorización de modelos de juego</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Funnel de Scouting</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Vídeos de jugadores</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Búsqueda manual de jugadores</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Recomendación de jugadores</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Compatibilidad de jugadores</div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="pricing-04__card_box">
                                    <div class="pricing-04__card ">
                                        <h3 class="pricing-04__card_title">ORO</h3>
                                        <div class="pricing-04__price_box">
                                            <div class="pricing-04__price_item js-tab-content  state-active-tab " data-index="monthly-price-1" data-group="my-pricing-pricing-04-770471">
                                                <div class="pricing-04__price_symbol  ">€</div>
                                                <div class="pricing-04__price"><span class="pricing-04__price_text  smaller-text-08 ">850</span>
                                                </div>
                                                <div class="pricing-04__period">/mes</div>
                                            </div>                                            
                                        </div>
                                        <div class="pricing-04__card_text">por usuario</div>
                                        <div class="pricing-04__card_button">
                                            <a
                                                data-stripe-product-id="" data-stripe-mode="payment" data-successful-payment-url="" data-cancel-payment-url=""
                                                class="button button--accent-outline" href="oro" target="_self"><span class="button__text">Comprar</span></a>
                                        </div>
                                    </div>
                                    <ul class="pricing-04__items">
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Ligas ilimitadas</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Búsqueda manual de entrenadores</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Recomendación de entrenadores</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Categorización de modelos de juego</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Funnel de Scouting</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Calendario de jugadores</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Vídeos de jugadores</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Búsqueda manual de jugadores</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Recomendación de jugadores</div>
                                        </li>
                                        <li class="pricing-04__item">
                                            <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/checked--acid.svg" alt="✓" class="pricing-04__item_icon"/>
                                            <div class="pricing-04__info_item_text js-hover-to-show-sibling  ">Compatibilidad de jugadores</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="bottom_cta">
                    </div>
                </div>
            </div>
        </div>
        <div class="page-component__bg_image_box bg-accent-color   " id="cta_form-01-898651" >
            <div class="page-component__bg_overlay_box ">
            </div>
            <div style="position: relative;z-index: 10;">
                <div class="cta_form-01 True">
                    <div class="container cta_form-01__container">
                        <div class="cta_form-01__wrapper">
                            <div class="container container--small">
                                <div class="title-box title-box--center">
                                    <h2 class="heading  text-white" style="font-size: medium;">¿Quieres saber qué tenemos entre manos? ¡Déjanos tu correo y te lo contamos en 2 minutos!</h2>                        
                                </div>
                                <div class="cta_form-01__form_box">
                                <form class="form   js-no-integration-form" id="landing-form" method="GET" id="landing-form" data-sheet-id="">
                                    <div class="form__inputs">
                                        <div class="form__input  ">
                                            <div class="form__input__label_box">
                                                <label class="form__input__label  text-white " for="EMAIL-14878-0">
                                                </label>
                                            </div>
                                            <input class="text-input js-form-input  text-input--white " type="email" id="EMAIL-14878-0" name="email" required placeholder="your@email.com"/>
                                        </div>
                                        <div class="form__input  " style="display: none;">
                                            <div class="form__input__label_box">
                                                <label class="form__input__label  text-white " for="EMAIL-14878-0">
                                                </label>
                                            </div>
                                            <input class="text-input js-form-input  text-input--white " type="text" name="tarifa" value="Newsletter"/>
                                        </div>
                                        <div class="form__button  ">
                                            <button class="button js-submit-button button--white-bg" type="submit" onclick="SubForm()">
                                                <span class="button__text">Unirme</span>
                                                <div class="spinner"></div>
                                                <div class="button__submit_success">
                                                    <div class="button__success_circle "></div>
                                                    <div>
                                                        <svg class="button__success_tick" width="13" height="13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg">
                                                            <path class="button__success_tick_path" stroke="#FFF" d="M0 8l5.119 3.873L11.709.381" fill="none" fill-rule="evenodd" stroke-linecap="square"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <span class="icon">
                                                    <svg viewBox="0 0 13 10" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12.823 4.164L8.954.182a.592.592 0 0 0-.854 0 .635.635 0 0 0 0 .88l2.836 2.92H.604A.614.614 0 0 0 0 4.604c0 .344.27.622.604.622h10.332L8.1 8.146a.635.635 0 0 0 0 .88.594.594 0 0 0 .854 0l3.869-3.982a.635.635 0 0 0 0-.88z" fill-rule="nonzero" fill="#00396B" class="fill-main"/>
                                                    </svg>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-black-color  text-white ">
            <footer class="footer-02">
                <div class="container">
                    <div class="footer-02__wrapper">
                        <div class="footer-02__text content_box">
                            &copy; 2021&nbsp;
                            <p>HypeHunter All rights reserved.</p>
                        </div>
                        <div class="social-buttons  ">
                            <ul class="social-buttons__list"></ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                        <button class="pswp__button pswp__button--share" title="Share"></button>
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .page-component__bg_image_box .page-component__bg_image_box .page-component__bg_overlay_box {
            position: relative;
            }
            body .page-component__bg_overlay_box {
            position: absolute;
            }
            .footer-02__text.content_box a{
            color: inherit !important;
            }
            .footer-04__info{
            font-size: 14px;
            }
        </style>
    </body>
</html>